body {
  background: #000;
  color: green;
}

div[data-component='screen'],
div[data-component='message'],
div[data-component='options'],
div[data-component='transition'],
div[data-component='return'],
input {
  background: lightgray;
  outline: 2px solid black;
  margin-block: 1rem;
}

div[data-component='screen'] {
  background: #1f1f1f;
  height: 500px;
}
